.now{
    width: 100%;
    background-color: white;
    height: 230px;
    position: absolute;

}
.banner{
    height: 100px;
    width: 100px;
    margin:20px;
}
.seekbar{
    width: 60%;
    
   
    position: absolute;
    bottom : 0px;
    left : 40px
}
.leftPara{
    position: absolute;
    bottom: -20px;
    left: 5px;
}
.fillContainer{
    height: 5px;
    width: 70%;
    position: absolute;
    border: 1px solid black;
    bottom: 0;
    left: 33px;
}
.fill{
    background-color: red;
    height: 100%;
    width: 0;
    
}
.rightPara{
    position: absolute;
    bottom: -20px;
    right: 5px;
}
